@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Raleway', sans-serif;
}

#bloc_page {
	width: auto;
}

header, main, footer {
	padding-left: 80px;
	padding-right: 80px;
}

ul {
	padding: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.recherche {
	margin-top: 20px;
}

.icon-map {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 40px;
	padding-top: 5px;
	background-color: #F2F2F2;
	border-radius: 10px 0 0 10px;
}

.section-filtres {
	margin-top: 20px;
	margin-bottom: 20px;
}

#filtres {
	font-weight: bold;
	margin-right: 30px;
}

.filtres button {
	font-weight: bold;
	height: 40px;
	border: 3px solid;
	border-radius: 0 30px 30px 0;
	border-color: #F2F2F2;
	border-left-color: transparent;
	background-color: transparent;
	margin-left: -15px;
	padding-left: 25px;
	padding-right: 20px;
}

.filtres {
	display: flex;
	flex-wrap: wrap;
}

.filtres div {
	display: flex;
	align-items: center;
	margin: 5px 10px 5px 0px;
}

.filtres div:hover {
	opacity: 0.5;
}

.filtres i {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 40px;
	background-color: #DEEBFF;
	border-color: #DEEBFF;
	border-radius: 100%;
	color: #0065FC;
}

.info {
	display: flex;
}

.info i {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	font-size: 12px;
	background-color: white;
	border: 2px solid #F2F2F2;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin: 20px 12px 22px 0;
}

.info p {
	display: flex;
	align-items: center;
}

@media all and (min-width: 992px)
{
		/* Propriétés CSS version Desktop */

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#logo {
		padding-top: 10px;
		height: 56px;
		width: auto;
	}

	nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		color: black;
		justify-content: space-around;
	}

	nav a {
		padding: 20px 30px;
	}

	nav a:hover {
		color: #0065FC;
		border-top: 3px solid #0065FC;
	}

	.mobile-nav {
		display: none;
	}

	form {
		display: flex;
	}

	#search {
		display: flex;
		border: 1px solid;
		border-color: #F2F2F2;
		padding-left: 30px;
		font-weight: bold;
	}

	.button-txt {
		color: white;
		font-weight: bold;
		border: 1px solid;
		border-color: #0065FC;
		background-color: #0065FC;
		padding: 0px 20px;
		border-radius: 0 10px 10px 0;
	}

	.button-icon {
		display: none;
	}

	.section-filtres {
	display: flex;
	}

}

@media all and (min-width: 769px) and (max-width: 991px)
{
    /* Propriétés CSS pour les tablettes*/

	header, main, footer {
		padding-left: 50px;
		padding-right: 50px;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#logo {
		padding-top: 10px;
		height: 56px;
		width: auto;
	}

	nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		color: black;
		justify-content: space-around;
	}

	nav a {
		padding: 20px 30px;
	}

	nav a:hover {
		color: #0065FC;
		border-top: 3px solid #0065FC;
	}

	.mobile-nav {
		display: none;
	}

	form {
		display: flex;
		margin: 50px 10%;
	}

	#search {
		display: flex;
		flex: 1 0 auto;
		justify-content: center;
		align-items: center;
		border: 1px solid;
		border-color: #F2F2F2;
		padding-left: 30px;
		font-weight: bold;
	}

	.button-txt {
		color: white;
		font-weight: bold;
		border: 1px solid;
		border-color: #0065FC;
		background-color: #0065FC;
		padding: 0px 20px;
		border-radius: 0 10px 10px 0;
	}

	.button-icon {
		display: none;
	}

	.section-filtres {
	display: flex;
	}

}

@media all and (max-width: 768px)
{
    /* Propriétés CSS pour les mobiles*/

	header, main, footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#logo {
		height: 70px;
		width: auto;
		padding: 30px 0px;
	}
	
	header ul {
		display: none;
	}

	.mobile-nav {
		display: flex;
		padding: 0px;
	}

	.mobile-nav li {
		list-style: none;
		flex: 1 0 auto;
		justify-content: center;
		text-align: center;
		flex: 0 0 50%;
	}
	.mobile-nav a {
		text-decoration: none;
		color: black;
		border-bottom: solid;
		border-color: #F2F2F2;
		display: block;
		padding-bottom: 10px;
	}
	
	.mobile-nav li:hover {
		flex: 1 0 auto;
		justify-content: center;
		text-align: center;
		color: #0065FC;
	}

	.mobile-nav a:hover {
		color: #0065FC;
		text-decoration: solid;
		border-bottom: solid;
		border-color: #0065FC;
	}

	form {
		display: flex;
		justify-content: center;
	}

	#search {
		display: flex;
		flex: 1 0 auto;
		justify-content: center;
		align-items: center;
		border: 1px solid;
		border-color: #F2F2F2;
		padding-left: 30px;
		font-weight: bold;
	}

	.button-icon {
			color: white;
			border: 1px solid;
			border-color: #0065FC;
			background-color: #0065FC;
			border-radius: 10px;
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			align-items: center;
			width: 44px;
			height: 45px;
			position: relative;
			right: 10px;
		}

	.button-txt {
		display: none;
	}

}